.app-wrapper {
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 150px 1fr;
  grid-gap: 10px;
  min-height: 100vh;

  grid-template-areas: 'header header' 'aside main';
}

.app-wrapper-content {
  grid-area: main;
  background-color: var(--main-bg-color);
}
